.total-cart-container {
  display: flex;
  padding: 20px;
  height: 100%;
  align-items: flex-end;
}

.custom-title {
  font-size: 23px;
  font-weight: 500;
}

.price-style {
  font-weight: 600;
  margin-left: 20px;
}
