.delivery-col {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.payment-col{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .delivery-col {
    padding: 30px 20px 30px 30px;
    display: flex;
    flex-direction: column;
  }
  .payment-col{
    padding: 30px 30px 30px 20px;
    display: flex;
    flex-direction: column;
  }
}

.ant-radio-group {
  margin-top: 20px;
  text-align: start;
}
.ant-radio-wrapper {
  font-size: 16px;
}
.custom-radio {
  display: block;
  height: 30px;
  line-height: 30px;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #eb9e66;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #eb9e66;
}

.ant-radio-checked::after,
.ant-radio-inner::after {
  border: 1px solid #eb9e66;
  background-color: #eb9e66;
}
.paczkomaty-map {
  width: 100%;
  height: 100%;
}

.center-div {
  padding: 20px;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.point {
  color: #eb9e66;
  font-weight: 600;
}

.custom-text{
  font-size: 20px;
}

.summary-div{
  margin: 60px 0;
  padding: 40px 20px;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcf1e8;
  }

  .red{
    color: #ea6861;
  }

.ant-divider{
  background: #fff;
  width: 80%;
  min-width: 80%;
  height: 3px;
}

.total span{
  color:#eb9e66;
}