@import "~antd/dist/antd.css";

.form-container {
  padding: 10px;
}
@media (min-width: 576px) {
  .form-container {
    margin-top: 50px;
  }
}

@media (min-width: 576px) {
  .ant-steps {
    margin: auto;
  }
}

.steps-content {
  min-height: 580px;
  padding: 5px;
  margin-top: 16px;
  border: 2px solid #eb9e66;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .steps-content {
    width: 900px;
  }
}

.steps-action {
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* ----------------------------buttons-------------------------------- */
.ant-btn {
  border-radius: none;
  margin-left: 0;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #eb9e66;
  border-color: #eb9e66;
  color: #fff;
}
.previous-button {
  height: 50px;
  margin-right: 10px;
  font-size: 20px;
  color: #000;
  border-bottom: 4px solid #eb9e66;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
  font-weight: 500;
}
.previous-button:hover,
.previous-button:focus {
  color: #eb9e66;
  border-bottom: 4px solid #eb9e66;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
}
.next-button {
  height: 50px;
  /* width: 120px; */
  font-size: 20px;
  border: 4px solid #eb9e66;
  font-weight: 500;
  background-color: #fff;
  border-color: #eb9e66;
  color: #eb9e66;
  transition: all 0.5s;
}
.next-button:hover,
.next-button:focus {
  background-color: #eb9e66;
  border-color: #eb9e66;
  color: #fff;
}

/* ----------------------------steps-------------------------- */
.ant-steps-item-tail::after {
  display: none;
}
@media (min-width: 576px) {
  .ant-steps-item-tail::after {
    display: inline-block;
  }
}

.ant-steps-item-title {
  font-size: 14px;
  line-height: 20px;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #eb9e66;
}
.ant-steps-item-icon > .ant-steps-icon {
  color: #eb9e66;
}
.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #eb9e66;
}
.ant-steps-item-process .ant-steps-item-icon {
  background: #eb9e66;
  border-color: #eb9e66;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #eb9e66;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #eb9e66;
}
.ant-message {
  font-size: 20px;
}

/* ---------------------------modal--------------------------------------- */
.ant-modal-content {
  border-radius: 6px;
  padding: 20px;
}
.ant-modal-close {
  color: #ea6861;
}
.ant-modal-close:focus,
.ant-modal-close:hover {
  color: #ea6861;
}
.ant-modal-header {
  text-align: center;
  border-bottom: none;
  border-radius: 6px;
}
.ant-modal-title {
  color: #eb9e66;
  font-weight: 500;
  font-size: 30px;
}
.anticon-smile {
  color: #eb9e66;
}
.ant-modal-body {
  font-size: 16px;
  text-align: center;
}
.ant-modal-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: none;
}
.ant-modal-footer .previous-button {
  font-size: 16px;
  height: 40px;
}
