@import "~antd/dist/antd.css";

.form-container {
  margin-top: 50px;
  width: 900px;
  padding: 10px;
}

.ant-steps {
  /* margin-left: 80px; */
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .ant-steps {
    margin: auto;
  }
}

.steps-content {
  min-height: 580px;
  padding: 5px;
  margin-top: 16px;
  border: 2px solid #eb9e66;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.steps-action {
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* ----------------------------buttons-------------------------------- */
.ant-btn {
  border-radius: none;
  margin-left: 0;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #eb9e66;
  border-color: #eb9e66;
  color: #fff;
}
.previous-button {
  height: 50px;
  margin-right: 10px;
  font-size: 20px;
  color: #000;
  border-bottom: 4px solid #eb9e66;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
  font-weight: 500;
}
.previous-button:hover,
.previous-button:focus {
  color: #eb9e66;
  border-bottom: 4px solid #eb9e66;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
}
.next-button {
  height: 50px;
  width: 120px;
  font-size: 20px;
  border: 4px solid #eb9e66;
  font-weight: 500;
  background-color: #fff;
  border-color: #eb9e66;
  color: #eb9e66;
  transition: all 0.5s;
}
.next-button:hover,
.next-button:focus {
  background-color: #eb9e66;
  border-color: #eb9e66;
  color: #fff;
}

/* ----------------------------stepper-------------------------- */
.ant-steps-item-title {
  font-size: 14px;
  line-height: 20px;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #eb9e66;
}
.ant-steps-item-icon > .ant-steps-icon {
  color: #eb9e66;
}
.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #eb9e66;
}
.ant-steps-item-process .ant-steps-item-icon {
  background: #eb9e66;
  border-color: #eb9e66;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #eb9e66;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #eb9e66;
}
.ant-message{
font-size: 20px;
}